<!--
  ~ Created by solutionDrive GmbH.
  ~
  ~ @author: Tobias Wojtylak <tw@solutiondrive.de>
  ~ @date: 2017-02-14
  ~ @copyright: 2017 solutionDrive GmbH
  -->

<GridLayout id="modal-article-page" rows="30, *, 30" columns="*">

    <StackLayout row="0" col="0" class="action-bar">
        <Label class="action-bar-title" [text]="article.name"></Label>
    </StackLayout>

    <StackLayout row="1" col="0">
        <slides [pageIndicators]="true" [pageHeight]="400">
            <slide *ngFor="let picture of article.getDetailPictures()">
                <Image [src]="picture" stretch="aspectFill"></Image>
            </slide>
        </slides>
    </StackLayout>

    <StackLayout row="2" col="0" class="action-bar">
        <Label class="action-bar-title" text="{{ 'BACK' | L }}" (tap)="closeModal()"></Label>
    </StackLayout>
</GridLayout>
