<!--
  ~ Created by solutionDrive GmbH.
  ~
  ~ @author: Tobias Wojtylak <tw@solutiondrive.de>
  ~ @date: 2017-02-14
  ~ @copyright: 2017 solutionDrive GmbH
  -->

<ActionBar title="{{ 'ACTION_PICK' | L }}">
    <ActionItem ios.systemIcon="1" android.systemIcon="ic_menu_close_clear_cancel" visibility="collapse"></ActionItem>
    <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
        <Label text="{{ 'ACTION_PICK' | L }}"></Label>
        <Label text=" ("></Label>
        <Label [text]="(pickList.items | pickedItems).length"></Label>

        <Label text=" / "></Label>
        <Label [text]="pickList.items.length"></Label>
        <Label text=")"></Label>
    </StackLayout>
    <ActionItem ios.position="right" ios.systemIcon="0" (tap)="finishPicking()"></ActionItem>

</ActionBar>
<TabView #tabView class="tab-view">

    <!--Layout for unpicked items-->
    <GridLayout *tabItem="{title: 'PICKING_STATUS_OPEN' | L}" columns="*" rows="auto, *">

        <StackLayout id="scanner">
            <StackLayout id="flash-div" orientation="horizontal" horizontalAlignment="right">
                <!--<Label text="{{ 'FLASH_LIGHT' | L }}" horizontalAlignment="stretch"></Label>-->
                <Button class="btn" text="{{ 'FLASH_LIGHT' | L }}" (tap)="toggleFlash()"></Button>
            </StackLayout>
            <Placeholder col="0" row="0"  *ngIf="init" (creatingView)="creatingView($event)"></Placeholder>
            <!--<Label [text]="lastFoundBarcode"></Label>-->
            <!--<Button class="btn-primary" text="startScanning" (tap)="startScanning()"></Button>-->
            <!--<Button class="btn-primary" text="stopScanning" (tap)="stopScanning()"></Button>-->
            <!--<Button class="btn-primary" text="test sound" (tap)="testFirstElement()"></Button>-->
        </StackLayout>
        <ListView col="0" row="1" [items]="pickList.items | unpickedItems" class="list-group" >
             <template let-item="item">
                 <GridLayout class="list-group-item" rows="*" columns="auto, *, auto"  (longPress)="pickManual(item)">
                     <Image *ngIf="item.article.getListPicture()" col="0" [src]="item.article.getListPicture()"  stretch="aspectFit" class="thumb" (tap)="createArticleModal(item.article)"></Image>
                     <StackLayout col="1">
                         <Label [text]="item.article.sku" class="list-group-item-heading"></Label>
                         <Label [text]="item.article.name" class="list-group-item-text" textWrap="true"></Label>
                     </StackLayout>
                     <Label col="2" class="pick-amount" [text]="item.amountToPick"></Label>
                 </GridLayout>
            </template>
        </ListView>
    </GridLayout>

    <!--Layout for picked items-->
    <GridLayout *tabItem="{title: 'PICKING_STATUS_PICKED' | L}">
        <ListView col="0" row="1" [items]="pickList.items | pickedItems" class="list-group" >
            <template let-item="item">
                <GridLayout class="list-group-item" rows="*" columns="auto, *, auto" (longPress)="markAsUnpicked(item)" >
                    <Image *ngIf="item.article.getListPicture()" col="0" [src]="item.article.getListPicture()"  stretch="aspectFit" class="thumb" (tap)="createArticleModal(item.article)"></Image>
                    <StackLayout col="1">
                        <Label [text]="item.article.sku" class="list-group-item-heading"></Label>
                        <Label [text]="item.article.name" class="list-group-item-text" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout col="2" class="pick-amount" orientation="horizontal">
                        <StackLayout *ngIf="item.amountPicked != item.amountToPick " orientation="horizontal">
                            <Label [text]="item.amountPicked"></Label>
                            <Label text="/"></Label>
                        </StackLayout>
                        <Label  [text]="item.amountToPick"></Label>
                    </StackLayout>
                </GridLayout>
            </template>
        </ListView>
    </GridLayout>
</TabView>