/*
 * Created by solutionDrive GmbH.
 *
 * @author: Tobias Wojtylak <tw@solutiondrive.de>
 * @date: 2017-02-14
 * @copyright: 2017 solutionDrive GmbH
 */

.pick-amount {
  text-align: center;
  font-weight: bold;
  font-size: 25;
}

.list-group-item .thumb {
  width:60;
  height:60;
}