/*
 * Created by solutionDrive GmbH.
 *
 * @author: Tobias Wojtylak <tw@solutiondrive.de>
 * @date: 2017-02-14
 * @copyright: 2017 solutionDrive GmbH
 */

StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-top: 15;
    padding-bottom: 15;
    background-color: white;
}
Image {
    margin-top: 5;
    margin-bottom: 20;
}
Button, TextField {
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}
TextField {
    border-width: 1;
    border-color: #3f3f3f;
}
.submit-button {
    background-color: #bbd200;
    color: white;
    margin-top: 20;
}