<!--
  ~ Created by solutionDrive GmbH.
  ~
  ~ @author: Tobias Wojtylak <tw@solutiondrive.de>
  ~ @date: 2017-02-14
  ~ @copyright: 2017 solutionDrive GmbH
  -->

<StackLayout #container>
    <Image src="res://logoshopdoitzentrrgb" stretch="none" horizontalAlignment="center"></Image>
    <TextField class="input" hint="Email Address" keyboardType="email" [(ngModel)]="user.email"
               autocorrect="false" autocapitalizationType="none"></TextField>
    <TextField hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
    <Button  text="{{ 'SIGN_IN_BTN' | L }}" class="submit-button"  (tap)="submit()"></Button>
</StackLayout>