<!--
  ~ Created by solutionDrive GmbH.
  ~
  ~ @author: Tobias Wojtylak <tw@solutiondrive.de>
  ~ @date: 2017-02-14
  ~ @copyright: 2017 solutionDrive GmbH
  -->

<ActionBar title="Start">
    <NavigationButton text="Logout" (tap)="logout()"></NavigationButton>
</ActionBar>
<GridLayout id="start-grid" columns="*,*" rows="*,2*,2*" width="*" height="*">
    <StackLayout row="0" col="0" colspan="2" class="tile" orientation="horizontal">
        <Label text="&#xf2bd;" class="fa" ></Label>
        <Label class="fa" text="Max Musterman"></Label>
    </StackLayout>
    <StackLayout id="pick" class="tile" row="1" col="0" (tap)="startPicking()" >
        <Label text="&#xf218;" class="fa action_icon"></Label>
        <Label class="action" text="{{ 'ACTION_PICK' | L }}"> </Label>
    </StackLayout>
    <StackLayout class="tile" row="1" col="1" >
        <Label text="&#xf1b3;" class="fa action_icon"></Label>
        <Label class="action" text="{{ 'ACTION_SORT' | L }}"> </Label>
    </StackLayout>
    <StackLayout class="tile"  row="2" col="0">
        <Label text="&#xf16b;" class="fa action_icon"></Label>
        <Label class="action" text="{{ 'ACTION_PACK' | L }}"> </Label>
    </StackLayout>
    <StackLayout class="tile" row="2" col="1" >
        <Label text="&#xf0ec;" class="fa action_icon"></Label>
        <Label class="action" text="{{ 'ACTION_RETOURE' | L }}"> </Label>
    </StackLayout>
</GridLayout>
