/*
 * Created by solutionDrive GmbH.
 *
 * @author: Tobias Wojtylak <tw@solutiondrive.de>
 * @date: 2017-02-14
 * @copyright: 2017 solutionDrive GmbH
 */

#start-grid {
  margin: 5;
}
#start-grid .tile {
  margin: 5;
  padding: 5;
  text-align: center;
  background-color: #bfbfbf;
  font-size: 25;
}
#start-grid .tile .fa {
  margin-right: 10;
  margin-left: 10;
}

.action_icon {
  font-size: 50;
  margin-top: 50;
}